name: Node CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install, build and lint
      run: |
        npm install
        npm run build --if-present
        npm run lint --if-present
        CHANGED_STRATEGIES=$(git diff --name-only origin/${{ github.base_ref }} origin/${{ github.head_ref }} src/strategies/)
        if [ -n "$CHANGED_STRATEGIES" ]; then
          echo "Running tests for changed strategies"
          npm run test --filesChanged="$CHANGED_STRATEGIES"

